@* LogIn.cshtml *@
@page
@model Web.Pages.LogInModel
@{
    ViewData["Title"] = "Log In";
}

<h2>Login</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label for="Email">Email</label>
        <input type="email" asp-for="userLogInForm.Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" asp-for="userLogInForm.Password" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

    <p class="text-center mt-3">
        Already have an account? <a href="/LogIn">Login here</a>
    </p>
</form>



<div>
    <p style="margin:10rem;margin-right:25rem;margin-left:25rem;">Don't have an account? <a asp-page="/Register">Register here</a>.</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
