@page
@model Web.Pages.Review1Model
@{
}
<p>
	Beginner Review:
	Rating: ★★★☆☆ (3/5) "As a beginner, I found the course content quite helpful, but I felt the explanations were a bit too basic. The course covers the fundamentals well, but some examples could be more practical and in-depth. I think it would be helpful to have more resources for beginners, such as exercises or quizzes to reinforce learning. Overall, a good starting point, but I need more advanced material to continue improving."
</p>